eel
python-dotenv
SpeechRecognition
pyaudio
edge-tts
pygame
requests
beautifulsoup4
googlesearch-python
AppOpener
pywhatkit
pillow
mtranslate
keyboard
paho-mqtt
selenium
webdriver-manager
aiohttp
rich
scikit-learn
numpy
PyQt5
pydub
opencv-python
urllib3
lxml
pysocks
charset-normalizer
idna
pynput
sounddevice
soundfile
edge-tts
google-generativeai

